body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  width: 400px;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* background-color: #fff; */
}

.card h2 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #007f61;
}

.card h4 {
  font-size: 1rem;
}

.card p {
  font-size: 16px;
  color: #444;
}

.expandable {
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px;
}

.options {
  display: flex;
  align-items: center;
  gap: 5px;
}

.options input[type="radio"] {
  margin-right: 8px;
}

.options .pair {
  line-height: 0;
  padding-top: 1rem;
}

.options .sale {
  font-size: 12px;
  color: #888;
  margin: auto;
  text-decoration: line-through;
}

.options .green-text {
  color: #007f61;
}

.options .popular {
  line-height: 0;
  text-align: right;
}

.options .discount {
  margin-left: auto;
  font-weight: bold;
}

.shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free-shipping {
  color: #007f61;
  opacity: 0.7;
}

.add-to-cart {
  display: block;
  width: 100%;
  padding: 15px;
  background: #007f61;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.expandable.selected {
  border: 2px solid #007f61;
  background-color: #F4FBF9;
}

.margin-left{
  margin-left: 10px;
}